{
    "ServerUrl": "http{% if ravendb_https is sameas true %}s{% endif %}://{{ ravendb_server_url }}:{{ ravendb_port }}",
    "PublicServerUrl": "http{% if ravendb_https is sameas true %}s{% endif %}://{{ ravendb_public_server_url }}:{{ ravendb_port }}",
    "Security.UnsecuredAccessAllowed": "PublicNetwork",
    "Setup.Mode": "{{ ravendb_setup_mode }}",
    "DataDir": "RavenData"{% if ravendb_license is defined %},
    "License": {{ ravendb_license | to_json }},
{% endif %}
    "License.Eula.Accepted": "true"{% if ravendb_monitoring is sameas true %},
    "Monitoring.Snmp.Enabled": "true",
    "Monitoring.Snmp.Community": "{{ ravendb_snmp_password }}"{% endif %}
}